a:hover{
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow: hidden;
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 80%;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    transition: transform 0.3s ease;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.6); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.image-container:hover .overlay {
    opacity: 1;
}